<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">
    <style>
        img {
            display: block;
            max-height: 200px;
            max-width: 200px;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body class="container">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <h1>FitFam NYE Countdown</h1>
    <a href="litCheck">Is it lit?</a>
    <hr/>
    {{#each results}}
            <span>{{this.rank}}</span><img src={{this.url}}/>
    {{/each}}
</body>
</html>